<h1>Welcome to our api display</h1>

<a href="/artists">Click here to See Artists</a>
<a href="/albums">Click here to See Albums</a>
<a href="/customers">Click here to See Customers</a>
<a href="/employees">Click here to See Employeess</a>
<a href="/genres">Click here to See genres</a>
<a href="/invoice_lines">Click here to See Invoice lines</a>
<a href="/invoices">Click here to See Invoices</a>
<a href="/media_types">Click here to See Media types</a>
<a href="/playlist_tracks">Click here to See Playlist tracks</a>
<a href="/playlists">Click here to See playlists</a>
<a href="/tracks">Click here to See tracks</a>
